body {
    background-color: hsla(0, 0%, 70%, 1);
    border:0;
    padding:0;
    margin: 0;
}

.musicos{
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap:25px;
    margin:10px 0;
    position: relative;
    margin-top: 200px*/
    display: flex;
    justify-content: center;
}

.musicos img {
    margin-top: 150px;
    height: 450px;
    width: 450px;  
}

.contenedorUno {
    position: relative;
    height: 200px;
   
    
}

label {
    position: absolute;
    top: 5px;
    left: 1400px;
    z-index: 2;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.lineaRoja{
    position: absolute;
    z-index: 3;
    height: 10px;
    transform: skew(0deg, -7.5deg);
    background-color: red;
    width: 100%;
    top: 120px;
}

.logoUno {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
}

.skewUno {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    border-width:  3vh 0 29vh 100vw;       /*define el ancho del borde con su respectivo valor*/
    border-style: solid;              /*el estilo del borde que sea solido*/
    border-color: transparent transparent hsla(0, 0%, 70%, 1) transparent;  /*yel borde que sea de color blanco transparente */
}

.titulo {
    position: absolute;
    top: 100px;
    left: 900px;
}

/**************  ingreso al juego ********************/
.zona {
    background-image: url("../img/fondo.jpeg");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.comienzo {
    display: flex;
    padding: 70px;
    justify-content: center;

}


.comienzo button {
    margin-top: 100px;
    height: 40px;
    width: 280px;
    margin-right: 40px;
    font-size: 30px;
    font-family: monospace;
    background-color: hsl(0, 80%, 30%);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button .imgbater {
    margin-top: 40px;
}



/*----------------------------------FOOTER-------------------------------*/

.imagenBater{
    margin-left:30%;
    position:absolute;
}

.veinte{
    margin-left:70%;
} 

.imagenFloter{
    margin-left: 80%;
    position:absolute;
    width:150px; 
    left:100px;
    margin-top:4%;
}

.veinte{
    color:rgb(255, 255, 255);
    position:absolute;
    font-size:20px;
    top:198%;
    left:5%;
}

.abajo{
    
    top: 0px;
    left: 0px;   
    border-style: solid;              
    border-width: 21vh 98.5vw 15vh 0; 
    border-color: transparent hsl(0, 80%, 30%) hsl(0, 80%, 30%) transparent;
}



/*-------------------------------------------------------------PAGINA 2 DE LA BATERIA---------------------------------------*/



.logo{
    width: 100px;
    margin-top:0%;
    position: relative;
   
}
li{
    float:left;
    list-style:none;
    padding:10px 110px 10px 10px;
    background: rgb(37, 80, 211);
}
header{
    width:100%;
    overflow: hidden;
    background:#252932;
    margin-bottom: 20px;

}
li:hover{
    background: rgb(12, 12, 12);
    
}
.cabeza{
    background: blue;
    position:absolute;
}
nav{
    
    float: right;
    margin-right: 32%;
 
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}





/*------------------------------------footer------------------*/




.veinte2{
    margin-left:70%;
} 

.imagenFloter2{
    margin-left: 80%;
    position:absolute;
    width:150px; 
    left:100px;
    margin-top:4%;
}

.veinte2{
    color:rgb(255, 255, 255);
    position:absolute;
    font-size:20px;
    top:198%;
    left:5%;
}

.abajos{
    
     
    border-style: solid;              
    border-width: 21vh 98.5vw 15vh 0; 
    border-color: transparent hsl(246, 80%, 30%) hsl(0, 0%, 7%) transparent;
}





