body {
    background-color: hsla(0, 0%, 70%, 1);
    margin: 0px;
}

.musicos{
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap:25px;
    margin:10px 0;
    position: relative;
    margin-top: 200px*/
    display: flex;
    justify-content: center;
}

.musicos img {
    margin-top: 30px;
    height: 400px;
    width: 400px;  
}

.contenedorUno {
    position: relative;
    height: 200px;
   
    
}



.lineaRoja{
    position: absolute;
    z-index: 3;
    height: 15px;
    transform: skew(-3deg, -7.6deg);
    background-color:  hsl(0, 80%, 30%);
    width: 100%;
    top: 64.6px;
}
.lineanegra{
    position: absolute;
    z-index: 3;
    height: 20px;
    transform: skew(-2deg, -7.5deg);
    background-color: black;
    width: 100%;
    top: 74px;
}

.logoUno {
    position: absolute;
    top: 9%;
    left: 20px;
    z-index: 2;
    width: 100px;
}
.skewUno
{
    width: -100%;
}
.skewUno
 {
    position: absolute;
    top: -10%;
    background-color: black;
    border-width:  0vh 0vh 29vh 98.5vw;       /*define el ancho del borde con su respectivo valor*/
    border-style: solid;              /*el estilo del borde que sea solido*/
    border-color: transparent transparent hsla(0, 0%, 70%, 1) transparent;  /*yel borde que sea de color blanco transparente */
}


.titulo 
{
    position: absolute;
    top: 50%;
    left: 18%; 
    font-family: 'Cinzel Decorative', cursive;
    font-size: 350%; 
}
h2
{
    margin-top: 2%;
    margin-left: 28%;
    text-align: center;
    font-size: 23px;
    color :black;
}
/**************  ingreso al juego ********************/
.zona 
{
    background-image: url("../img/fondo.jpeg");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.zona h1
{
    color: black;
    font-size: 25px;
    margin-left: 12%;
}
.comienzo 
{
    display: flex;
    padding: 70px;
    justify-content: center;
}

.comienzo button 
{
    margin-top: 7%;
    height: 40px;
    width: 15%;
    margin-right: 30px;
    font-size: 30px;
    font-family: monospace;
    background-color: hsl(0, 80%, 30%);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.imgBater
{
    margin-left: 10%; 
   
}




/*-----------PAGINA 2 DE BATERIA------------------------*/


.cabeza{
    width:100%;
    overflow: hidden;
    background: linear-gradient(to bottom right, black 40%,  hsl(0, 80%, 40%));
    position:absolute;
    
}
.logo{
    width: 60px;
    margin-left:3%;
    margin-top:1%;
    margin-bottom:1%;
    position: relative;
   
}
li{
    float:left;
    list-style:none;
    padding:10px 20px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
}

.cabeza{
    width:100%;
    overflow: hidden;
    background: blue;
    position:absolute;
    margin-bottom: 20px;
}

li:hover{
    background:  hsl(0, 80%, 30%) ;
    border-radius: 20px;
}

nav{
    
    float: right;
    margin-right: 19.5%;
 
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    
}

.bateria {
    position: relative;
    top: 70px;
    margin-left: 27%;
}






/*------------------------------------footer------------------*/




.veinte2{
    
    margin-top: 1%;
} 

.imagenFloter2{
    margin-left: 93%;
    position:absolute;
    width:70px; 
    margin-top:-6%;
}
.veinte
{
    color:rgb(255, 255, 255);
    position:absolute;
    font-size:17px;
    top:220%;
    left:2%;  
}
.veinte2{
    color:rgb(255, 255, 255);
    position:absolute;
    font-size:17px;
    top:93.5%;
    left:2%;
   
}

.abajos
 {
    z-index: 10;  
    margin-top: 7%;  
    bottom: 0;   
    left: 0;   
    border-width: 0 0 17vh 98.5vw;  
    border-style: solid;  
    border-color: transparent transparent hsl(0, 80%, 30%) transparent;  
}
.arribas
 {
    z-index: 10;  
    margin-top: -6.90%;  
    bottom: 0;   
    left: 0;   
    border-width: 15vh  0 0 98.5vw;  
    border-style: solid;  
    border-color:  transparent  black transparent;  
}
.instru
{
    position: absolute;
    top: 8px;
    left: 150px;
    background-color: hsla(0, 0%, 0%, 0.5);
    height: 640px;
    border-radius: 20px;

}
.instru img
{
    margin-left: 0px;
    padding: 0px 50px 0px 0px;
}
