body
{
    background-image: url(img/fondo.jpg);
    font-family: 'Tangerine', cursive;
    font-family: 'Trirong', serif;
    
}

.text
{
    width: 70%;
    height: 10%;
}
.text h1
{
    color: black;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 400%;
    margin-left: 5%;
    margin-top: -8%;
}
.borde
{
    margin-left: 85%;
    margin-top: -1%;
}

.img1 img
{
    margin:0px auto;
    display:block;
    margin-top: 6%;
}

.img1 .JEI
{
    margin-top: 6px;
    font-family: 'Times New Roman'; 
    font-size: 210%;
    margin-left: 38%;
    color: #a10404;


}
.img1 .JEII
{
    margin-top: -3%;
    font-family: Georgia,  bold ;
    font-size: 200%;
    margin-left: 45.5%;
    color: #8f0000;
}

.img2
{
   margin-left: 4%;
    margin-top: 6%;  

}
.img2 .HOL
{
    margin-top: 1%;
    font-family: 'Times New Roman'; 
    font-size: 150%;
    margin-left: 0.3%;
    color: #a10404;


}
.img2 .HOLL
{
    margin-top: -3%;
    font-family: Georgia,  bold ;
    font-size: 170%;
    margin-left: 4.5%;
    color: #8f0000;
}
.img22
{
    margin-left: 26%;
    margin-top: -23%; 
}
.img22 .EST
{
    margin-top: 0.7%;
    font-family: 'Times New Roman'; 
    font-size: 150%;
    margin-left: -1.3%;
    color: #a10404;


}
.img22 .ESTE
{
    margin-top: -4%;
    font-family: Georgia,  bold ;
    font-size: 170%;
    margin-left: 6.5%;
    color: #8f0000;
}
.img3
{
    margin-left: 50%;
    margin-top: -23%;
}
.img3 .DAN
{
    margin-top: 0.9%;
    font-family: 'Times New Roman'; 
    font-size: 150%;
    margin-left: 1.5%;
    color: #a10404;


}
.img3 .DANI
{
    margin-top: -6%;
    font-family: Georgia,  bold ;
    font-size: 170%;
    margin-left: 10.5%;
    color: #8f0000;
}
.img33
{
    margin-left: 74%;
    margin-top: -23%;
  

}
.img33 .ASH
{
    margin-top: 2.3%;
    font-family: 'Times New Roman'; 
    font-size: 150%;
    margin-left: 0%;
    color: #a10404;


}
.img33 .ASHL
{
    margin-top: -11.5%;
    font-family: Georgia,  bold ;
    font-size: 170%;
    margin-left: 20%;
    color: #8f0000;
}
.pie-pagina{
    margin-top: 10%;
    background-color: #000000;
    padding: 1%;
    color: white;
  

}
.pie-pagina img
{
 margin-left: 48%;
}

.boton {
    position: absolute;
    top: 80px;
    left: 1150px;
    padding: 10px;
    border-radius: 50%;
    background-color: #8f0000;
    border-color: white;
    border-width: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #8f0000;
    font-family: 'Times New Roman';
}